.loading {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: animation_loading;
  animation-duration: 3000ms;
  z-index: -1;
}

@keyframes animation_loading {
  0% {
    opacity: 1;
    z-index: 1;
    transform: scale(1.5);
  }
  25% {
    opacity: 1;
    z-index: 1;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    z-index: 1;
    transform: scale(1.5);
  }
  75% {
    opacity: 0.8;
    z-index: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.2;
    z-index: 1;
    transform: scale(1.5);
  }
}
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #9356dc;
  border-color: #ff79da transparent #9356dc transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
body {
  margin: auto;
  font-family: "Roboto", sans-serif;
}
body a {
  text-decoration: none;
  color: #000;
}
body ul {
  list-style: none;
}

@keyframes animation {
  0% {
    margin-top: 10%;
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}
header {
  display: flex;
  flex-direction: column;
  background: #F6F6F6;
}

.container_logo {
  display: flex;
  height: 70px;
  color: #000;
  align-items: center;
}

.btn_return {
  font-size: 1.3em;
  margin-left: 10px;
  height: max-content;
  padding: 5px;
  transition: 350ms 100ms ease-in-out;
}
.btn_return:hover {
  transform: scale(1.6);
}

.logo {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 2em;
  margin-top: 15px;
  font-family: "Shrikhand", sans-serif;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EAEAEA;
  box-shadow: inset 0px 5px 5px #d9d9d9;
  height: 50px;
  font-size: 16px;
  margin-left: -20px;
  font-weight: bold;
  color: #505050;
}

.fa-map-marker-alt {
  margin-right: 20px;
}

main {
  background: #F6F6F6;
  padding-bottom: 20px;
}

.byline {
  background: #F6F6F6;
  padding-bottom: 40px;
  padding-top: 20px;
  color: #000;
}

.main_title {
  font-size: 1.3em;
  font-weight: bold;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}

.subtitle {
  font-size: 1em;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.main_title,
.subtitle,
.container_main--btn {
  display: flex;
  justify-content: center;
}

.main--btn {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  color: #ffff;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 50px;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0px 0px 10px 0px #d9d9d9;
  transition: 250ms, background-color 550ms 150ms ease-in-out;
}
.main--btn:hover {
  transform: scale(1.04);
  background: linear-gradient(#ff93e1, #ae80e5);
  box-shadow: 0px 0px 10px 0px #8d8d8d;
}

nav {
  display: flex;
  justify-content: center;
  background: #ffff;
  padding-bottom: 50px;
}

.container_filter {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30px;
  width: 100%;
  max-width: 1024px;
  color: #000;
}

.filter_title {
  font-size: 1.2em;
  margin-left: -10px;
}

.container_btn--filter {
  font-size: 13px;
  margin-top: 20px;
}

.btn_filter {
  height: 60px;
  display: flex;
  align-items: center;
  font-weight: bold;
  box-shadow: 0px 5px 5px #d9d9d9;
  background: #F6F6F6;
  border-radius: 15px;
  transition: 200ms 100ms, background-color 200ms 130ms ease-in-out;
  width: 100%;
}
.btn_filter:hover > .container_check-circle {
  height: 100%;
  width: 30%;
  transition: 550ms 100ms ease-in-out;
}
.btn_filter:hover > .container_check-circle .icon-check-circle {
  transform: rotate(360deg);
  transition: 550ms 100ms ease-in-out;
}
.btn_filter:hover {
  transform: scale(0.99);
  background: #f2eafb;
  box-shadow: 0px 0px 10px 2px #d4d4d4;
}
.btn_filter:hover > .icon_filter {
  transition: 550ms ease-in-out;
  color: #9356dc;
}

.btn_filter--notation {
  color: #ffff;
  position: relative;
  background: #9356dc;
  border-radius: 100%;
  left: -10px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

.icon_filter {
  color: gray;
  margin-right: 8%;
  font-size: 16px;
}

.fa-mobile-alt {
  margin-left: 4px;
  padding-right: 2px;
}

#contaiter_restaurant {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

article {
  width: 95%;
  max-width: 1440px;
}

.article_title--restaurant {
  font-size: 1.2em;
  font-weight: bolder;
  color: #000;
}

.container_card--restaurant {
  width: 100%;
}

.card_restaurant {
  box-shadow: 0px 5px 5px #d9d9d9;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 255px;
  background: #ffff;
  transition: 150ms 100ms ease-in-out;
}
.card_restaurant:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 2px #d4d4d4;
}

.card_restaurant--img {
  height: 180px;
  width: 100%;
  object-fit: cover;
}

.container_new--message {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 15px;
}

.text_new--message {
  position: absolute;
  text-align: center;
  font-size: 1em;
  padding: 10px;
  color: #278870;
  background: #99e2d0;
  border-radius: 3px;
}

.container_text--card {
  display: flex;
  justify-content: space-between;
  margin: 15px 10px 0px 10px;
  color: #000;
}

.title_card--restaurant {
  margin-top: 0px;
  font-size: 1em;
}

.text_card--restaurant {
  margin-top: -10px;
  font-size: 1em;
}

.container_heart {
  height: max-content;
  margin-right: 15px;
}
.container_heart:hover > .heart .heart-empty {
  color: #000;
  opacity: 0;
}
.container_heart:hover > .heart .heart-full {
  opacity: 1;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart-empty {
  color: black;
  font-size: 1.8em;
  transition: 1s;
  opacity: 1;
  margin-right: -29px;
}

.heart-full {
  font-size: 1.8em;
  transition: 1s;
  opacity: 0;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media all and (min-width: 769px) {
  .filter_title {
    display: flex;
    justify-content: center;
  }

  .filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .filter .container_btn--filter {
    width: 30%;
    min-width: 230px;
    margin-left: -4%;
    margin-right: -4%;
  }

  .article_title--restaurant {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  .container_card--restaurant {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
  }
  .container_card--restaurant .card_restaurant {
    width: 48%;
  }
}
footer {
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #353535;
  display: flex;
  justify-content: center;
}

.container_footer {
  margin: 0px 20px 0px 20px;
  width: 100%;
  max-width: 1024px;
}

.title_footer {
  font-size: 1.4em;
  font-family: "Shrikhand", sans-serif;
  color: #ffff;
}

.footer_container--text {
  margin-left: -40px;
}

.footer_text {
  margin-bottom: 10px;
  width: max-content;
  transition: 200ms 100ms ease-in-out;
}
.footer_text:hover {
  text-decoration: underline;
  transform: scale(0.97);
}

.footer_text--content {
  color: #ffff;
}

.icon_footer--hand,
.icon_footer {
  width: 30px;
}

.icon_footer--hand {
  font-size: 14px;
  transform: rotate(-45deg);
}

@media all and (min-width: 660px) {
  .title_footer {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .footer_container--text {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction: row;
  }
}

/*# sourceMappingURL=main_style.css.map */
