body {
  margin: auto;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  flex-direction: column;
}
header .container_logo {
  display: flex;
  height: 70px;
}
header .container_logo .fa-arrow-left {
  display: none;
}
header .container_logo .logo {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 11em;
  height: 1.9em;
  margin-top: 25px;
}
header .location {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EAEAEA;
  box-shadow: inset 0px 5px 5px #d9d9d9;
  height: 50px;
  font-size: 16px;
  margin-left: -20px;
  font-weight: bold;
}
header .location .fa-map-marker-alt {
  margin-right: 20px;
}
header .byline {
  background: #F6F6F6;
  height: auto;
  padding-bottom: 40px;
  padding-top: 20px;
}
header .byline .main_title {
  font-size: 1.3em;
  font-weight: bold;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}
header .byline .subtitle {
  font-size: 1em;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}
header .byline .main_title,
header .byline .subtitle,
header .byline .container_btn {
  display: flex;
  justify-content: center;
}
header .byline .btn_header {
  font-size: 14px;
  color: #ffff;
  font-weight: bold;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 5px 5px #d9d9d9;
}
header .byline .btn_header:hover {
  transition: 1s;
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0px 5px 5px #a6a6a6;
}
header nav {
  display: flex;
  justify-content: center;
}
header .container_filter {
  margin-left: 20%;
  margin-right: 20%;
  width: 100%;
  min-width: 270px;
  max-width: 300px;
}
header .filter_title {
  display: flex;
  justify-content: center;
  justify-content: flex-start;
  font-size: 1.2em;
  margin-left: -10px;
}
header .container_btn--filter {
  font-size: 13px;
  margin-top: 20px;
}
header .container_btn--filter .btn_filter {
  display: flex;
  align-items: center;
  background: #F6F6F6;
  font-weight: bold;
  height: 60px;
  border-radius: 15px;
  box-shadow: 0px 5px 5px #d9d9d9;
}
header .container_btn--filter .btn_filter .btn_filter--notation {
  color: #ffff;
  position: relative;
  background: #9356DC;
  border-radius: 100%;
  left: -10px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
}
header .container_btn--filter .btn_filter .icon_filter {
  color: grey;
  margin-right: 8%;
  font-size: 16px;
}
header .fa-mobile-alt {
  margin-left: 5px;
  padding-right: 8px;
}
header .btn_filter--text {
  width: 100%;
}
header .btn_filter:hover {
  transition: 0.5s;
  background: #f2eafb;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
main article {
  width: 60%;
  margin: auto;
}
main .container_card {
  display: flex;
  flex-direction: column;
  width: 100%;
}
main .card_restaurant {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 5px #d9d9d9;
  border-radius: 10px;
  margin: 1%;
  height: 250px;
  width: 48%;
  display: flex;
  justify-content: space-between;
}
main .card_restaurant .card_restaurant--img {
  border-radius: 10px 10px 0px 0px;
  height: 200px;
  width: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
