body {
  margin: auto;
  font-family: "Roboto", sans-serif;
}
body a {
  text-decoration: none;
  color: #000;
}
body ul {
  list-style: none;
}

header {
  display: flex;
  flex-direction: column;
  background: #F6F6F6;
}
header .container_logo {
  display: flex;
  height: 70px;
  color: #000;
}
header .container_logo .logo {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 2em;
  margin-top: 15px;
  font-family: "Shrikhand", sans-serif;
}
header .location {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EAEAEA;
  box-shadow: inset 0px 5px 5px #d9d9d9;
  height: 50px;
  font-size: 16px;
  margin-left: -20px;
  font-weight: bold;
  color: #505050;
}
header .location .fa-map-marker-alt {
  margin-right: 20px;
}
header .byline {
  background: #F6F6F6;
  height: auto;
  padding-bottom: 40px;
  padding-top: 20px;
  color: #000;
}
header .byline .main_title {
  font-size: 1.3em;
  font-weight: bold;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}
header .byline .subtitle {
  font-size: 1em;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}
header .byline .main_title,
header .byline .subtitle,
header .byline .container_main--btn {
  display: flex;
  justify-content: center;
}
header .byline .main--btn {
  font-size: 14px;
  opacity: 1;
  color: #ffff;
  font-weight: bold;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0px 0px 10px 0px #d9d9d9;
}
header .byline .main--btn:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.5s;
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0px 0px 10px 0px #8d8d8d;
}
header nav {
  display: flex;
  justify-content: center;
  background: #ffff;
  padding-bottom: 50px;
}
header nav .container_filter {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30px;
  width: 100%;
  max-width: 480px;
  color: #000;
}
header nav .container_filter .filter_title {
  display: flex;
  justify-content: center;
  justify-content: flex-start;
  font-size: 1.2em;
  margin-left: -10px;
}
header nav .container_filter .container_btn--filter {
  font-size: 13px;
  margin-top: 20px;
}
header nav .container_filter .container_btn--filter .btn_filter--text {
  width: 100%;
}
header nav .container_filter .container_btn--filter .btn_filter:hover {
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.9;
  background: #f2eafb;
  box-shadow: 5px 5px 5px #d4d4d4;
}
header nav .container_filter .container_btn--filter .btn_filter {
  opacity: 1;
  display: flex;
  align-items: center;
  background: #F6F6F6;
  font-weight: bold;
  height: 60px;
  border-radius: 15px;
  box-shadow: 0px 5px 5px #d9d9d9;
}
header nav .container_filter .container_btn--filter .btn_filter .btn_filter--notation {
  color: #ffff;
  position: relative;
  background: #9356dc;
  border-radius: 100%;
  left: -10px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
}
header nav .container_filter .container_btn--filter .btn_filter .icon_filter {
  color: gray;
  margin-right: 8%;
  font-size: 16px;
}
header nav .container_filter .container_btn--filter .btn_filter .icon_filter .fa-mobile-alt {
  margin-left: 4px;
  padding-right: 2px;
}

main {
  display: flex;
  justify-content: center;
  background: #F6F6F6;
  padding-bottom: 20px;
}
main #contaiter_restaurant {
  margin: 40px 20px 20px 20px;
  width: 100%;
  max-width: 480px;
}
main #contaiter_restaurant .article_title--restaurant {
  font-weight: bold;
  font-size: 1.2em;
  color: #000;
}
main #contaiter_restaurant .container_card--restaurant {
  display: flex;
  flex-direction: column;
}
main #contaiter_restaurant .card_restaurant:hover {
  transform: scale(1.01);
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.9;
  box-shadow: 5px 5px 5px #d4d4d4;
}
main #contaiter_restaurant .card_restaurant {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 5px #d9d9d9;
  border-radius: 10px;
  height: 255px;
  width: 100%;
  margin-bottom: 20px;
  background: #ffff;
}
main #contaiter_restaurant .card_restaurant .card_restaurant--img {
  border-radius: 10px 10px 0px 0px;
  height: 180px;
  width: 100%;
  object-fit: cover;
}
main #contaiter_restaurant .card_restaurant .container_new--message {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 15px;
}
main #contaiter_restaurant .card_restaurant .text_new--message {
  position: absolute;
  text-align: center;
  font-size: 1em;
  padding: 10px;
  color: #278870;
  background: #99e2d0;
  border-radius: 3px;
}
main #contaiter_restaurant .card_restaurant .container_text--card {
  display: flex;
  justify-content: space-between;
  margin: 15px 10px 0px 10px;
  color: #000;
}
main #contaiter_restaurant .card_restaurant .container_text--card .title_card--restaurant {
  margin-top: 0px;
  font-size: 1em;
}
main #contaiter_restaurant .card_restaurant .container_text--card .text_card--restaurant {
  margin-top: -10px;
  font-size: 1em;
}
main #contaiter_restaurant .card_restaurant .container_text--card .heart-full:hover {
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.05);
  opacity: 1;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
main #contaiter_restaurant .card_restaurant .container_text--card .heart-full {
  font-size: 2em;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  opacity: 0;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 10px;
}
main #contaiter_restaurant .card_restaurant .container_text--card .heart-empty {
  font-size: 1.8em;
  margin-right: -30.5px;
  margin-top: -2px;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #353535;
  display: flex;
  justify-content: center;
}
footer .container_footer {
  margin: 0px 20px 0px 20px;
  width: 100%;
  max-width: 490px;
}
footer .container_footer .title_footer {
  font-size: 1.4em;
  font-family: "Shrikhand", sans-serif;
  color: #ffff;
}
footer .container_footer .footer_container--text {
  margin-left: -40px;
}
footer .container_footer .footer_container--text .footer_text:hover {
  transition: 0.5s;
  text-decoration: underline;
  transform: scale(0.98);
}
footer .container_footer .footer_container--text .footer_text {
  margin-bottom: 10px;
  width: max-content;
}
footer .container_footer .footer_container--text .footer_text .footer_text--content {
  color: #ffff;
}
footer .container_footer .footer_container--text .footer_text .footer_text--content .icon_footer--hand,
footer .container_footer .footer_container--text .footer_text .footer_text--content .icon_footer {
  width: 30px;
}
footer .container_footer .footer_container--text .footer_text .footer_text--content .icon_footer--hand {
  font-size: 14px;
  transform: rotate(-45deg);
}

/*# sourceMappingURL=style.css.map */
