body {
  margin: auto;
  font-family: "Roboto", sans-serif;
}
body a {
  text-decoration: none;
  color: #000;
}
body ul {
  list-style: none;
}

@keyframes animation {
  0% {
    margin-top: 5%;
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0, 2;
  }
  60% {
    opacity: 0, 4;
  }
  80% {
    opacity: 0, 8;
  }
  100% {
    margin-top: 0%;
    opacity: 1;
  }
}
header {
  display: flex;
  flex-direction: column;
  background: #F6F6F6;
}

.container_logo {
  display: flex;
  height: 5rem;
  color: #000;
  align-items: center;
}

.btn_return {
  font-size: 1.3rem;
  margin-left: 10px;
  height: max-content;
  padding: 5px;
  transition: 350ms 100ms ease-in-out;
}
.btn_return:hover {
  transform: scale(1.6);
}

.logo {
  display: flex;
  justify-content: center;
  font-family: "Shrikhand", sans-serif;
  margin: auto;
  font-size: 2em;
  margin-top: 1rem;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EAEAEA;
  box-shadow: inset 0px 5px 5px #d9d9d9;
  height: 4rem;
  font-size: 1em;
  margin-left: -1rem;
  font-weight: bold;
  color: #505050;
}

.fa-map-marker-alt {
  margin-right: 1.5rem;
}

.picture_presentation {
  width: 100%;
  height: 40rem;
  object-fit: cover;
}

.container_menu {
  width: 90%;
  padding: 1rem;
  max-width: 1440px;
}

.container_title_and_heart {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.title_menu {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.5em;
  color: #000;
  margin-left: -1rem;
}

.container_heart {
  margin-top: 3rem;
  height: max-content;
}
.container_heart:hover > .heart .heart-empty {
  color: #000;
  opacity: 0;
}
.container_heart:hover > .heart .heart-full {
  opacity: 1;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart-empty {
  color: #000;
  font-size: 1.5em;
  transition: 1s;
  opacity: 1;
  margin-right: -2.4rem;
}

.heart-full {
  font-size: 1.5em;
  transition: 1s;
  opacity: 0;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

section {
  margin-bottom: 5rem;
}

.container_content--article {
  border-radius: 50px 50px 0px 0px;
  background: #ffff;
  margin-top: -7rem;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.menu {
  width: 100%;
}

.content_article {
  padding-top: 2rem;
}

.subtitle {
  color: #000;
  font-size: 0.8em;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: flex-start;
  margin-left: 0rem;
}

.underline {
  border-bottom: 3px solid #99e2d0;
  margin-right: 86%;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

article {
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2rem;
}
article .load_1 {
  animation-duration: 550ms;
}
article .load_2 {
  animation-duration: 1100ms;
}
article .load_3 {
  animation-duration: 1650ms;
}
article .load_4 {
  animation-duration: 2200ms;
}
article .loading_slide {
  animation-name: animation;
}

.container_check-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: 550ms;
  background: #99e2d0;
  width: 0%;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 0px 15px 15px 0px;
}

.fa-icon-circle {
  color: #ffff;
  font-size: 1.5em;
}

.container_list--menu {
  margin-bottom: 20px;
}

.list_menu {
  display: flex;
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
  box-shadow: 0px 5px 5px #d9d9d9;
  background: #F6F6F6;
  border-radius: 15px;
  overflow: hidden;
  transition: 150ms 100ms ease-in-out;
}
.list_menu:hover > .container_check-circle {
  height: 100%;
  width: 30%;
  transition: 550ms 100ms ease-in-out;
}
.list_menu:hover > .container_check-circle .icon-check-circle {
  transform: rotate(360deg);
  transition: 550ms 100ms ease-in-out;
}

.list_menu:hover {
  transform: scale(1.04);
}

.container_menu--title {
  margin-left: 1rem;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list_menu--title {
  margin-top: 0.5rem;
  font-weight: 600;
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list_menu--subtitle {
  font-weight: 400;
  font-size: 0.85em;
  margin-top: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  font-size: 0.85em;
  margin-right: 1rem;
  margin-bottom: 1rem;
  align-self: flex-end;
}

.container_main--btn {
  margin: auto;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.main--btn {
  padding-left: 6rem;
  padding-right: 6rem;
  color: #ffff;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 50px;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0px 0px 10px 0px #d9d9d9;
  transition: 250ms, background-color 550ms 150ms ease-in-out;
  font-size: 0.85em;
}
.main--btn:hover {
  transform: scale(1.04);
  background: linear-gradient(#ff93e1, #ae80e5);
  box-shadow: 0px 0px 10px 0px #8d8d8d;
}

@media all and (min-width: 769px) {
  .picture_presentation {
    height: 50rem;
    object-position: 50% 60%;
  }

  .container_content--article {
    border-radius: 50px 50px 0px 0px;
    background: #ffff;
    margin-top: -5rem;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }

  .menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
  }

  .content_article {
    width: 48%;
    margin: 0.5rem;
  }
}
@media all and (min-width: 1075px) {
  .content_article {
    width: 32%;
    margin: 0.5rem;
  }

  .menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    height: 28rem;
  }
}
footer {
  margin-top: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: #353535;
  display: flex;
  justify-content: center;
}

.container_footer {
  margin: 0px 20px 0px 20px;
  width: 100%;
  max-width: 1024px;
}

.title_footer {
  font-size: 1.4em;
  font-family: "Shrikhand", sans-serif;
  color: #ffff;
}

.footer_container--text {
  margin-left: -40px;
}

.footer_text {
  margin-bottom: 1rem;
  width: max-content;
  transition: 200ms 100ms ease-in-out;
}
.footer_text:hover {
  text-decoration: underline;
  transform: scale(0.97);
}

.footer_text--content {
  color: #ffff;
}

.icon_footer--hand,
.icon_footer {
  width: 30px;
}

.icon_footer--hand {
  font-size: 1rem;
  transform: rotate(-45deg);
}

@media all and (min-width: 660px) {
  .title_footer {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .footer_container--text {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction: row;
  }
}

/*# sourceMappingURL=style_menu_restaurant.css.map */
