body {
  margin: auto;
  font-family: "Roboto", sans-serif;
}
body a {
  text-decoration: none;
  color: #000;
}
body ul {
  list-style: none;
}

header {
  display: flex;
  flex-direction: column;
  background: #F6F6F6;
}

.container_logo {
  display: flex;
  height: 70px;
  color: #000;
  align-items: center;
}

.btn_return {
  font-size: 1.3em;
  margin-left: 10px;
  height: max-content;
  padding: 5px;
}

.btn_return:hover {
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.9;
  box-shadow: 5px 5px 5px #d4d4d4;
  box-shadow: none;
  transform: scale(1.2);
}

.logo {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 2em;
  margin-top: 15px;
  font-family: "Shrikhand", sans-serif;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EAEAEA;
  box-shadow: inset 0px 5px 5px #d9d9d9;
  height: 50px;
  font-size: 16px;
  margin-left: -20px;
  font-weight: bold;
  color: #505050;
}

.fa-map-marker-alt {
  margin-right: 20px;
}

.byline {
  background: #F6F6F6;
  padding-bottom: 40px;
  padding-top: 20px;
  color: #000;
}

.main_title {
  font-size: 1.3em;
  font-weight: bold;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}

.subtitle {
  font-size: 1em;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.main_title,
.subtitle,
.container_main--btn {
  display: flex;
  justify-content: center;
}

.main--btn {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  opacity: 1;
  color: #ffff;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 50px;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0px 0px 10px 0px #d9d9d9;
}

.main--btn:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.5s;
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0px 0px 10px 0px #8d8d8d;
}

nav {
  display: flex;
  justify-content: center;
  background: #ffff;
  padding-bottom: 50px;
}

.container_filter {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30px;
  width: 100%;
  max-width: 1024px;
  color: #000;
}

.filter_title {
  font-size: 1.2em;
  margin-left: -10px;
}

.container_btn--filter {
  font-size: 13px;
  margin-top: 20px;
}

.btn_filter--text {
  width: 100%;
}

.btn_filter:hover {
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.9;
  background: #f2eafb;
  box-shadow: 5px 5px 5px #d4d4d4;
}

.btn_filter {
  opacity: 1;
  height: 60px;
  display: flex;
  align-items: center;
  background: #F6F6F6;
  font-weight: bold;
  border-radius: 15px;
  box-shadow: 0px 5px 5px #d9d9d9;
}

.btn_filter--notation {
  color: #ffff;
  position: relative;
  background: #9356dc;
  border-radius: 100%;
  left: -10px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

.icon_filter {
  color: gray;
  margin-right: 8%;
  font-size: 16px;
}

.fa-mobile-alt {
  margin-left: 4px;
  padding-right: 2px;
}

@media all and (min-width: 769px) {
  .filter_title {
    display: flex;
    justify-content: center;
  }

  .filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .filter .container_btn--filter {
    width: 30%;
    min-width: 220px;
    margin-left: -4%;
    margin-right: -4%;
  }
}
main {
  margin: auto;
}

.picture_presentation {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.container_menu {
  width: 100%;
  padding: 10px;
  max-width: 1800px;
}

.container_title_and_heart {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.title_menu {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.7em;
  color: #000;
}

.heart {
  margin-top: 30px;
}

.heart-empty {
  font-size: 1.8em;
  margin-right: -30.5px;
}

.heart-full {
  margin-right: 10px;
  font-size: 2em;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  opacity: 0;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart-full:hover {
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.05);
  opacity: 1;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

section {
  margin-bottom: 50px;
}

article {
  border-radius: 50px 50px 0px 0px;
  background: #ffff;
  margin-top: -70px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.menu {
  width: 100%;
}

.container_content--article {
  padding-top: 20px;
}

.subtitle {
  color: #000;
  font-size: 0.8em;
  padding-bottom: 5px;
  display: flex;
  justify-content: flex-start;
  margin-left: 0px;
}

.underline {
  border-bottom: 3px solid #99e2d0;
  margin-right: 86%;
  margin-left: 10px;
}

.content_article {
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.container_list--menu {
  display: flex;
  align-items: center;
  background: #F6F6F6;
  font-weight: bold;
  border-radius: 15px;
  box-shadow: 0px 5px 5px #d9d9d9;
  margin-bottom: 20px;
}

.list_menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 65px;
}

.container_menu--title {
  margin-left: 10px;
  width: 85%;
}

.list_menu--title {
  margin-top: 15px;
  font-weight: 600;
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list_menu--subtitle {
  font-weight: 100;
  font-size: 0.85em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 5px;
}

.price {
  font-size: 0.85em;
  margin-right: 10px;
  margin-bottom: 10px;
  align-self: flex-end;
}

.container_main--btn {
  margin: auto;
  margin-top: 50px;
  display: flex;
  align-self: flex-start;
}

.main--btn:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.5s;
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0px 0px 10px 0px #8d8d8d;
}

.main--btn {
  padding-left: 60px;
  padding-right: 60px;
  opacity: 1;
  color: #ffff;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 50px;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0px 0px 10px 0px #d9d9d9;
  font-size: 0.85em;
}

@media all and (min-width: 769px) {
  .menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
  }

  .container_content--article {
    width: 32%;
  }
}
footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #353535;
  display: flex;
  justify-content: center;
}

.container_footer {
  margin: 0px 20px 0px 20px;
  width: 100%;
  max-width: 1024px;
}

.title_footer {
  font-size: 1.4em;
  font-family: "Shrikhand", sans-serif;
  color: #ffff;
}

.footer_container--text {
  margin-left: -40px;
}

.footer_text:hover {
  transition: 0.5s;
  text-decoration: underline;
  transform: scale(0.98);
}

.footer_text {
  margin-bottom: 10px;
  width: max-content;
}

.footer_text--content {
  color: #ffff;
}

.icon_footer--hand,
.icon_footer {
  width: 30px;
}

.icon_footer--hand {
  font-size: 14px;
  transform: rotate(-45deg);
}

@media all and (min-width: 660px) {
  .title_footer {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .footer_container--text {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction: row;
  }
}

/*# sourceMappingURL=style_menu.css.map */
