footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background: $footer_background;
  @include flexbox_center;
}
.container_footer {
  margin: 0px 20px 0px 20px;
  width: 100%;
  max-width: 1024px;
}
//title_footer//
.title_footer {
  font-size: 1.4em;
  @include title_font-family;
  color: $text_footer;
}
//text_footer//
.footer_container--text {
  margin-left: -40px;
}
.footer_text {
  @include footer_btn;
}
.footer_text--content {
  color: $text_footer;
}
.icon_footer--hand,
.icon_footer {
  width: 30px;
}
.icon_footer--hand {
  font-size: 14px;
  transform: rotate(-45deg);
}
//media_querie//
@media all and (min-width: 660px) {
  .title_footer {
    @include flexbox_center;
    margin-bottom: 30px;
  }
  .footer_container--text {
    @include flexbox_center;
    justify-content: space-around;
    flex-direction: row;
  }
}
