footer {
  margin-top: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: $footer_background;
  @include flexbox_center;
}
.container_footer {
  margin: 0px 20px 0px 20px;
  width: 100%;
  max-width: 1024px;
}
//title_footer//
.title_footer {
  font-size: 1.4em;
  @include title_font-family;
  color: $text_footer;
}
//text_footer//
.footer_container--text {
  margin-left: -40px;
}
.footer_text {
  margin-bottom: 1rem;
  width: max-content;
  transition: 200ms 100ms ease-in-out;

  &:hover {
    text-decoration: underline;
    transform: scale(0.97);
  }
}
.footer_text--content {
  color: $text_footer;
}
.icon_footer--hand,
.icon_footer {
  width: 30px;
}
.icon_footer--hand {
  font-size: 1rem;
  transform: rotate(-45deg);
}
//media_querie//
@media all and (min-width: 660px) {
  .title_footer {
    @include flexbox_center;
    margin-bottom: 2rem;
  }
  .footer_container--text {
    @include flexbox_center;
    justify-content: space-around;
    flex-direction: row;
  }
}
