header {
  @include flexbox_column;
  background: $ligh_grey_background;
}
//logo//
.container_logo {
  display: flex;
  height: 70px;
  color: $text_page_color;
  align-items: center;
}
.btn_return {
  @include arrow_return;
}
.logo {
  @include flexbox_center;
  @include title_font-family;
  margin: auto;
  font-size: 2em;
  margin-top: 15px;
}

//location//
.location {
  @include flexbox_center;
  align-items: center;
  background: $location_background;
  box-shadow: inset 0px 5px 5px $color_shadow_border;
  height: 50px;
  font-size: 16px;
  margin-left: -20px;
  font-weight: bold;
  color: $color_text_location;
}
.fa-map-marker-alt {
  margin-right: 20px;
}
