main {
  background: $ligh_grey_background;
  padding-bottom: 20px;
}
//title-subtitle-botton//
.byline {
  background: $ligh_grey_background;
  padding-bottom: 40px;
  padding-top: 20px;
  color: $text_page_color;
}
.main_title {
  font-size: 1.3em;
  font-weight: bold;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}
.subtitle {
  font-size: 1em;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}
.main_title,
.subtitle,
.container_main--btn {
  @include flexbox_center;
}
.main--btn {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  @include main_botton;
}
//filters//
nav {
  @include flexbox_center;
  background: $white;
  padding-bottom: 50px;
}
.container_filter {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30px;
  width: 100%;
  max-width: 1024px;
  color: $text_page_color;
}

.filter_title {
  font-size: 1.2em;
  margin-left: -10px;
}
//btn_filters//
.container_btn--filter {
  font-size: 13px;
  margin-top: 20px;
}
.btn_filter {
  @include filter_btn;
  width: 100%;
}
.btn_filter--notation {
  color: $text_footer;
  position: relative;
  background: $primary;
  border-radius: 100%;
  left: -10px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
}
.icon_filter {
  color: $icon;
  margin-right: 8%;
  font-size: 16px;
}
.fa-mobile-alt {
  margin-left: 4px;
  padding-right: 2px;
}

//restaurant//
#contaiter_restaurant {
  @include flexbox_center;
  width: 100%;
  margin-top: 40px;
}
article {
  width: 95%;
  max-width: 1440px;
}
.article_title--restaurant {
  font-size: 1.2em;
  font-weight: bolder;
  color: $text_page_color;
}
//cards_restaurant//
.container_card--restaurant {
  width: 100%;
}
.card_restaurant {
  @include card_restaurant;
}
.card_restaurant--img {
  height: 180px;
  width: 100%;
  object-fit: cover;
}
//message_new//
.container_new--message {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 15px;
}
.text_new--message {
  position: absolute;
  text-align: center;
  font-size: 1em;
  padding: 10px;
  color: darken($tertiary, 40%);
  background: $tertiary;
  border-radius: 3px;
}
//text_card//
.container_text--card {
  display: flex;
  justify-content: space-between;
  margin: 15px 10px 0px 10px;
  color: $text_page_color;
}
.title_card--restaurant {
  margin-top: 0px;
  font-size: 1em;
}
.text_card--restaurant {
  margin-top: -10px;
  font-size: 1em;
}
.container_heart {
  @include heart;
  margin-right: 15px;
}
.heart-empty {
  color: black;
  font-size: 1.8em;
  transition: 1s;
  opacity: 1;
  margin-right: -29px;
}
.heart-full {
  font-size: 1.8em;
  transition: 1s;
  opacity: 0;
  background: -webkit-linear-gradient($primary, $secondary);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
//media_querie//
@media all and (min-width: 769px) {
  .filter_title {
    @include flexbox_center;
  }
  .filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .container_btn--filter {
      width: 30%;
      min-width: 230px;
      margin-left: -4%;
      margin-right: -4%;
    }
  }
  .article_title--restaurant {
    @include flexbox_center;
    margin-bottom: 50px;
  }
  .container_card--restaurant {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;

    .card_restaurant {
      width: 48%;
    }
  }
}
