//animation_menu_appearance//

@keyframes animation {
  0% {
    margin-top: 5%;
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0, 2;
  }
  60% {
    opacity: 0, 4;
  }
  80% {
    opacity: 0, 8;
  }
  100% {
    margin-top: 0%;
    opacity: 1;
  }
}

//_______________________//
