//------------------------arrow_return_botton--------------------------//

@mixin arrow_return {
    font-size: 1.3rem;
    margin-left: 10px;
    height: max-content;
    padding: 5px;
    transition: 350ms 100ms ease-in-out;
  
    &:hover {
      transform: scale(1.6);
    }
  }
  
  //_____________________________________________________________________//