//----------------------------botton_hearts----------------------------//

@mixin heart {
    height: max-content;
    &:hover > .heart {
      .heart-empty {
        color: $text_page_color;
        opacity: 0;
      }
      .heart-full {
        opacity: 1;
        background: -webkit-linear-gradient($primary, $secondary);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  
  //_____________________________________________________________________//