//default_effect//
@mixin effect_with_background--hover {
    cursor: pointer;
    transition: 0.5s;
    opacity: 0.9;
    @include primary_lighten--background;
    @include color_shadow_border--darken;
  }
  @mixin effect_without_background--hover {
    cursor: pointer;
    transition: 0.5s;
    opacity: 0.9;
    @include color_shadow_border--darken;
  }


  
  //scale_effect//
  @mixin scale_effect--hover {
    transform: scale(1.01);
  }