//main_botton//
@mixin main_botton {
  color: #ffff;
  font-weight: bold;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
  background: linear-gradient($secondary, $primary);
  box-shadow: 0px 5px 5px $color_shadow_border;
}
@mixin main_botton--hover {
  cursor: pointer;
  transition: 1s;
  background: linear-gradient(lighten($secondary, 5%), lighten($primary, 5%));
  box-shadow: 0px 5px 5px darken($color_shadow_border, 30%);
}
//default_effect//
@mixin effect_botton--hover {
  transition: 0.5s;
  background: lighten($primary, 35%);
  box-shadow: 5px 5px 5px darken($color_shadow_border, 5%);
}
//cards_effect//
@mixin card_effect--hover {
  cursor: pointer;
  transform: scale(1.01);
  transition: 0.1s;
  background: lighten($primary, 35%);
  box-shadow: 0px 5px 5px darken($color_shadow_border, 5%);
}
//hearts//
@mixin heart_empty {
  font-size: 1.8em;
}
@mixin heart_full_transparent {
  font-size: 2em;
  background: -webkit-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin heart_full_hover {
  cursor: pointer;
  transition: 2s;
  background: -webkit-linear-gradient($primary, $secondary);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
